{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="{{ object.image|media_folder_products }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ object.name }}</h5>
    <p class="card-text">{{ object.description }}</p>
    <p class="card-text">{{ object.price }}</p>
    <p class="card-text">{{ object.quantity }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}